.catch-pokemon {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding: 3rem 5rem;
  align-items: center;
  justify-content: center;
}

.catch-pokemon .title {
  border: 5px double black;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Mono';
}

.catch-pokemon img {
  width: 200px;
}
