.catch-pokemon {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding: 3rem 5rem;
  align-items: center;
  justify-content: center;
}

.catch-pokemon .title {
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Mono';
}

.catch-pokemon .game-box,
.catch-pokemon .win-box,
.catch-pokemon .lose-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 2rem;
  width: 50%;
}

.catch-pokemon .desc,
.catch-pokemon .hint,
.catch-pokemon .win,
.catch-pokemon .lose {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Mono';
}

.game-box .chances {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.game-box .chances .chance {
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1rem;
}

.game-box input {
  border: none;
  border-radius: 10px;
  background: rgb(202, 202, 202);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.catch-pokemon .start-btn,
.catch-pokemon .submit-btn,
.catch-pokemon .again-btn,
.catch-pokemon .retry-btn {
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.catch-pokemon .start-btn:hover,
.catch-pokemon .submit-btn:hover {
  cursor: pointer;
}
