.home {
  margin-top: 90px;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.home .option-tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.home .option-tab .tab {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
}

.home .option-tab .tab:hover {
  cursor: pointer;
}

.home .option-tab .tab:hover div,
.home .option-tab .active-tab {
  position: relative;
  margin-top: 0.2rem;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 5px;
  opacity: 0.3;
  transition: all 0.1s;
}

.home .poke-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .home {
    padding: 3rem;
  }

  .home .poke-list {
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin-top: 125px;
  }
}

@media only screen and (max-width: 425px) {
  .home {
    padding: 3rem 1rem;
  }

  .home .option-tab .tab {
    font-size: 1.2rem;
  }

  .home .poke-list {
    margin-top: 1rem;
  }
}
