@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bangers&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
button {
  font-family: 'Baloo Thambi 2', 'Montserrat', sans-serif, cursive;
}

body {
  margin: 0;
  width: 100vw;
}
