.game-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 2rem;
  width: 50%;
}

.game-box .desc {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Mono';
}

.game-box .chances {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.game-box .chances .chance {
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1rem;
}

.game-box input {
  border: none;
  border-radius: 10px;
  background: rgb(202, 202, 202);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.game-box .btn {
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.game-box .btn:hover {
  cursor: pointer;
}
